@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F7C009;
  --color-primary-dark: #E0AD08;
  --color-primary-light: #FFF3CC;
  --font-family-sans: 'Noto Sans TC', sans-serif;
}

body {
  font-family: var(--font-family-sans);
}
